
.root_container{
  height: 100%;
  width: 100%;
}

.scroll_container{
  height: 100%;
  width: 100%;
}

.float_input_container{
  height: 100%;
  width: 100%;
}

.submit_button_color{
  color: aqua;
}
.submit_button{
  height: 90px;
  margin:32px 15px;
  background-color: #FC511C;
  color: white;
}


.image_banner{
  width: 750px;
  height: 540px;
}

.image_divider{
  width: 750px;
  height: 66px;
  margin-top: 60px;
}



//可以使用这种方式覆盖 组件默认的属性
//!important 提升元素优先级只能加载 属性值后面 无法加在class 选择器上
//微信端要覆盖默认属性需要添加 !important 标记
$tab_default-color : #606060;
$tab_selected-color : #FC511C;
.at-tabs {
  margin-top: -22px !important;
  &__item {
    color: $tab_default-color !important;
    padding-bottom: 40px !important;
    line-height: 80px;
    &::after {
      background-color: $tab_selected-color !important;
      bottom: 40px !important;
      left: 25% !important;
      height: 5px !important;
      width: 50% !important;
    }

    &--active {
      color: $tab_selected-color !important;
    }
  }
  &__header {
    height: 150px;
    .at-tabs__item{
      height: auto;
      width: auto;
    }
  }
  &__underline{
    height: 1PX;
    background-color: transparent !important;
  }
}

.tab_inner_item{
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 10px 30px;
  align-items: center;
  &__left{
    width: 244px;
    flex-direction: row;
    display: flex;
    align-items: center;
  }
  &__left_title{
    color: #1c1c1c;
    font-size: 28px;
  }
  &__left_sub{
    color: #878686;
    font-size: 28px;
  }
  &__right_container{
    height: 100%;
    flex-grow: 1;
    border-radius: 4px 4px;
    background: #F1F2F6;
    padding: 4px 4px;
  }

  &__right{
    height: 100%;
    width: 100%;
    background: transparent;
    color:#1c1c1c;
    font-size: 28px;
  }
  &__right_place_holder{
    height: 100%;
    width: 100%;
    background: transparent;
    color: #808080;
    font-size: 28px;
  }
}
//!!!! taro ui 自定义组件内部使用 组件 覆盖样式需要写在page 页面对应的scss文件中
//!!!! 不能写在组件自己的 SCSS中
$selected-color: #FC511C;
.at-checkbox {
  &__icon {
    width: 32px !important;
    height: 32px !important;
    border: 2px solid $selected-color !important;
    border-radius: 4px !important;
    background-color: white !important;
    margin-right:0px !important;
    &--selected {
      background-color: $selected-color !important;
      border: none !important;
    }
  }
  &__option{
    padding: 0px 0px !important;
  }

  &__option_wrap{
    padding: 0px 0px !important;
  }

  &__icon_container {
    width: 32px !important;
    height: 32px !important;
  }
}


